doctype html
html
  head
    title Socket.io Demo
  body
    ul#js-message-list
    input(type='text', placeholder='name')#js-name
    input(type='text', placeholder='message')#js-message
    button#js-send 送信
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='http://cdn.socket.io/socket.io-1.0.0-pre5.js')
    script(src='/js/app.js')
